@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
  font-family: 'Poppins', sans-serif;
  color: #032A40
}
h2{
  font-family: 'Poppins', sans-serif;
  color: #D87A00
}
h3{
  font-family: 'Poppins', sans-serif;
}
h4{
  font-family: 'Poppins', sans-serif;
}
h5{
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
a{
  font-family: 'Poppins', sans-serif;
}
.lb-border{
  border-color: #27A0E3; 
  border-width: 5px;
}
.lb-button{
  background-color: #27A0E3;
  color: white;
}
.mb-button{
  background-color:#2E7EAB;
  color: white;
}
.mb-border{
  border-color: #2E7EAB; 
  border-width: 5px;
}
.d-orange-back{
  background-color: #D87A00;
}
.do-button{
  background-color: #D87A00;
  color: white;
}
.do-border{
  border-color:#D87A00;
  border-width: 5px;
}
.l-orange-back{
  background-color: #E6952C;
}
.lo-button{
  background-color: #E6952C;
  color: white;
}
.lo-border{
  border-color:#E6952C;
  border-width: 5px;
}