@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
h1{
  font-family: 'Poppins', sans-serif;
  color: #312244
}
h2{
  font-family: 'Poppins', sans-serif;
  color: #354422
}
body{
  font-family: 'Poppins', sans-serif;
}
.site-title{
  border-color: #354422;
  border-width: 10px;
  color:#312244;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  text-align: center;
}
.site-subtitle{
  border-color: #354422;
  border-width: 10px;
  color:#354422;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-align: center;
}
.p-border{
  border-color: #312244;
  border-width: 5px;
}
.p-button{
  background-color: #312244;
  color: white;
}
.p-button:hover{
  background-color: white;
  color: #312244;
  border-color:#312244;
}
.p-back{
  background-color: #312244;
  color: white;
}
.g-border{
  border-color: #354422;
  border-width: 5px;
}
.g-button{
  background-color: #354422;
  color: white;
}
.g-button:hover{
  background-color: white;
  color: #354422;
  border-color:#354422;
}
.g-back{
  background-color: #354422;
  color: white;
}
.intro{
  text-align: center;
  font-size: 1.75rem;
}
.list-table{
  font-size: 1.4rem;
}
.edtech aside{
  background-color: #354422;
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 25%;
  float: right;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
}
@media (max-width: 767px){
  .edtech aside{
    background-color: #354422;
    color: #ffffff;
    float: unset;
    width: 75%;
    margin: 0 auto;
    padding: 25px;
  }}
.image-parent {
    max-width: 80px;
}
.hidden{
  display: none;
}