@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
  font-family: 'Poppins', sans-serif;
  color: #312244
}
h2{
  font-family: 'Poppins', sans-serif;
  color: #354422
}
h3{
  font-family: 'Poppins', sans-serif;
}
h4{
  font-family: 'Poppins', sans-serif;
}
h5{
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
a{
  font-family: 'Poppins', sans-serif;
}
.site-title{
  border-color: #354422;
  border-width: 10px;
  color:#312244;
  font-family: 'Poppins', sans-serif;
}
.p-border{
  border-color: #312244;
  border-width: 5px;
}
.p-button{
  background-color: #312244;
  color: white;
}
.p-back{
  background-color: #312244;
  color: white;
}
.g-border{
  border-color: #354422;
  border-width: 5px;
}
.g-button{
  background-color: #354422;
  color: white;
}
.g-back{
  background-color: #354422;
  color: white;
}
.intro{
  text-align: center;
  font-size: 1.75rem;
}
.list-table{
  font-size: 1.4rem;
}
.edtech aside{
  background-color: #354422;
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 25%;
  float: right;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
}
@media (max-width: 767px){
  .edtech aside{
    background-color: #354422;
    color: #ffffff;
    float: unset;
    width: 75%;
    margin: 0 auto;
    padding: 25px;
  }}
.image-parent {
    max-width: 80px;
}
.hidden{
  display: none;
}